@import "~bootstrap/scss/bootstrap";

$background: #0f1630;
$dark-blue: #471fbd;
$light-blue: #4fabda;
$text-blue: #50badf;
$white: #ffffff;
$black: rgb(60, 60, 60);

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: $white;
}

.btn-custom {
  box-sizing: border-box !important;
  padding: 15px 35px;
  color: white !important;
  border: none;
  cursor: pointer;
  z-index: 5;
  background: rgb(79, 171, 218);
  background: linear-gradient(
    90deg,
    rgba(79, 171, 218, 1) 0%,
    rgba(71, 31, 189, 1) 100%
  );
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;

  &:hover {
    background: rgb(50, 150, 200);
    background: linear-gradient(
      90deg,
      rgba(50, 150, 200, 1) 0%,
      rgba(60, 20, 170, 1) 100%
    );
    color: rgba(255, 255, 255, 0.5) !important;
  }

  @media (max-width: 768px) {
    font-size: 0.7rem !important;
  }
}

.link-custom {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $light-blue;
  }
}

.link-custom.active {
  font-weight: bold;
}

.card-custom {
  display: block;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: -10px -10px 10px rgba($color: #000000, $alpha: 0.2);

  background: rgb(79, 171, 218);
  background: linear-gradient(
    90deg,
    rgba(79, 171, 218, 1) 0%,
    rgba(71, 31, 189, 1) 100%
  );
}

.footer-container {
  background: rgb(60, 20, 170, 1);
  background: linear-gradient(
    90deg,
    rgba(60, 20, 170, 1) 0%,
    rgba(50, 150, 200, 1) 100%
  );
  padding: 5rem 5rem 5rem 5rem;
  border-radius: 100px 100px 0 0;

  .card-custom {
    @media (max-width: 767px) {
      padding: 20px !important;
    }
  }
  
  form {
    input,
    textarea {
      font-size: 1.2rem;
      padding: 1rem;
      border: none;
      outline: none;
      
      @media (max-width: 767px) {
        font-size: 0.8rem;
        padding: 0.9rem
      }
    }
  }

  .circle {
    z-index: 0;
  }
  .row {
    z-index: 5 !important;
  }

  @media (max-width: 768px) {
    padding: 4rem 0 2rem 0;
    border-radius: 50px 50px 0 0;
  }
}

.bg-dark {
  color: $white !important;
  background: $black;
  background-color: $black;
}

button.bg-dark {
  transition: all 0.3s ease-in-out;
  position: relative;
  border-radius: 5px !important;
  &::after {
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
    border: 2px $white solid;
  }

  &:hover {
    color: $black;
    background: none !important;
    background-color: none !important;

    &::after {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.bg-blue-gradient {
  background: rgb(79, 171, 218);
  background: linear-gradient(
    90deg,
    rgba(79, 171, 218, 1) 0%,
    rgba(71, 31, 189, 1) 100%
  );
}

.circle {
  border-radius: 100%;
}
