@use "base";

nav {
  background: base.$background;
  transition: all 0.5s ease-in-out;
  z-index: 0;

  .navbar {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 4;
    box-shadow: 0 10px 20px rgb(0, 0, 200, 0);

    @media (max-width: 768px) {
      transform: translate(0, -100%);
      position: absolute;
      top: 0;
      right: 0;
      background: #000000;
      padding-top: 30px !important;
      padding-bottom: 30px !important;
      box-shadow: 0 10px 20px rgb(0, 0, 200, 0.5);
    }
  }
  .navbar.active {
    transform: translate(0, 0);
  }

  .navbar-item {
    padding: 10px 20px;
  }
  .navbar-brand {
    position: relative;
    z-index: 5;
    
    img {
      padding: 0;
      width: 50px;
      height: 50px;
      @media (max-width: 767px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .nav-link {
    color: base.$white;
    position: relative;
    text-transform: uppercase;

    &:hover {
      color: base.$text-blue;
    }
  }

  .nav-link.active {
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-radius: 100px;
      height: 2px;
      background-color: base.$text-blue;
    }
  }

  .toggle-menu {
    display: none !important;
    position: absolute;
    z-index: 5;
    right: 1rem;
    top: 1.2rem;
  }

  @media (max-width: 768px) {
    .toggle-menu {
      display: flex !important;
    }
    .navbar {
      flex-direction: column;
      height: auto;

      .nav-link {
        font-size: 0.7rem;
      }
    }
    button {
      font-size: 0.7rem;
    }
  }
}

@keyframes show-menu {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
